/* 產品列表頁 */

.sidebar .active {
    color: $primary-400;
}

.page-item {
    .btn {
        padding: 8px 15px;
        border-radius: none;
    }

    .active, 
    &:hover {
        background-color: $primary-300;
        font-weight: 500;
    }
}