<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/navbar'); -%>
    <main class="container py-32 py-md-16 mb-48 mb-md-24">
      <nav class="breadcrumb mb-24 mb-md-12">
        <ol class="d-flex">
          <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">首頁</a></li>
          <li class="breadcrumb-item "><a href="product_list.html" class="breadcrumb-link active">所有商品</a></li>
        </ol>
      </nav>
      <header class="mb-24 mb-md-12">
        <h1 class="h3 h4-md">所有商品</h1>
      </header>
      <div class="row">
        <!-- 側邊攔 -->
        <div class="col-2 d-md-none">
          <div class="sidebar">
            <ul>
              <li class="mb-16"><a href="#" class="py-12 active">所有商品</a></li>
              <li class="mb-16"><a href="#" class="py-12">慢跑鞋</a></li>
              <li class="mb-16"><a href="#" class="py-12">滑板鞋</a></li>
              <li class="mb-16"><a href="#" class="py-12">厚底鞋</a></li>
              <li class="mb-16"><a href="#" class="py-12">限定 /聯名企劃</a></li>
            </ul>
          </div>
        </div>
        <div class="col-10 col-md-4">
          <!-- 產品列表 -->
          <div class="row">
            <div class="col-4 col-md-2 mb-48 mb-md-24">
              <div class="">
                <a href="product_detail.html">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true"
                    alt="shoes" class="mb-12 mb-md-8">
                  <h6 class="h6 mb-4">PLATFORM 404</h6>
                  <p>NT$2,600</p>
                </a>
              </div>
            </div>
            <div class="col-4 col-md-2 mb-48 mb-md-24">
              <div class="">
                <a href="product_detail.html">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true"
                    alt="shoes" class="mb-12 mb-md-8">
                  <h6 class="h6 mb-4">PLATFORM 404</h6>
                  <p>NT$2,600</p>
                </a>
              </div>
            </div>
            <div class="col-4 col-md-2 mb-48">
              <div class="">
                <a href="product_detail.html">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true"
                    alt="shoes" class="mb-12 mb-md-8">
                  <h6 class="h6 mb-4">VM001</h6>
                  <p>NT$2,600</p>
                </a>
              </div>
            </div>
            <div class="col-4 col-md-2 mb-48 mb-md-24">
              <div class="">
                <a href="product_detail.html">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
                    alt="shoes" class="mb-12 mb-md-8">
                  <h6 class="h6 mb-4">Melty Kiss</h6>
                  <p>NT$4,000</p>
                </a>
              </div>
            </div>
            <div class="col-4 col-md-2 mb-48 mb-md-24">
              <div class="">
                <a href="product_detail.html">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
                    alt="shoes" class="mb-12 mb-md-8">
                  <h6 class="h6 mb-4">BOOMBLOK</h6>
                  <p>NT$3,200</p>
                </a>
              </div>
            </div>
            <div class="col-4 col-md-2 mb-48 mb-md-24">
              <div class="">
                <a href="product_detail.html">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-5.png?raw=true"
                    alt="shoes" class="mb-12 mb-md-8">
                  <h6 class="h6 mb-4">BOOMBLOK</h6>
                  <p>NT$3,200</p>
                </a>
              </div>
            </div>
            <div class="col-4 col-md-2 mb-48 mb-md-24">
              <div class="">
                <a href="product_detail.html">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true"
                    alt="shoes" class="mb-12 mb-md-8">
                  <h6 class="h6 mb-4">R:UNER</h6>
                  <p>NT$5,400</p>
                </a>
              </div>
            </div>
            <div class="col-4 col-md-2 mb-48 mb-md-24">
              <div class="">
                <a href="product_detail.html">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true"
                    alt="shoes" class="mb-12 mb-md-8">
                  <h6 class="h6 mb-4">Sufar Snap</h6>
                  <p>NT$4,000</p>
                </a>
              </div>
            </div>
            <div class="col-4 col-md-2 mb-48 mb-md-32">
              <div class="">
                <a href="product_detail.html">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true"
                    alt="shoes" class="mb-12 mb-md-8">
                  <h6 class="h6 mb-4">Neofoam</h6>
                  <p>NT$4,000</p>
                </a>
              </div>
            </div>
            <div class="col-4 col-md-2 d-none d-md-block mb-48 mb-md-32">
              <div class="">
                <a href="product_detail.html">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true"
                    alt="shoes" class="mb-12 mb-md-8">
                  <h6 class="h6 mb-4">Neofoam</h6>
                  <p>NT$4,000</p>
                </a>
              </div>
            </div>
          </div>
    
    
          <!-- 頁碼 -->
          <ul class="d-flex justify-content-center align-items-center ">
            <li class="me-12"><button class="btn disabled" disabled><i class="bi bi-chevron-left"></i></button>
            </li>
            <li class="me-8 page-item"><button class="btn active">1</i></button></li>
            <li class="me-8 page-item"><button class="btn">2</i></button></li>
            <li class="me-8 page-item"><button class="btn">3</i></button></li>
            <li class="me-8 page-item"><button class="btn">...</i></button></li>
            <li class="me-8 page-item"><button class="btn">10</i></button></li>
            <li class="me-12"><button class="btn"><a href="#"><i class="bi bi-chevron-right"></i></a></button></li>
          </ul>
    
        </div>
      </div>
    </main>
    <%- include('./layout/call_to_action'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
